.highlighted {
    background-color: red;
}

.special-header {
    color: green;
}

[id^=box] {
    opacity: .7;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border: 1px dotted #000;
}

.important {
    opacity: 1;
}